Repository AY2324S1-CS2113T-W11-2/tp, pull requests merged in 2023-10, with the labels that each got.

#6 Update BootUp.java to fit within 120 wordline limit
  src/main/java/seedu/duke/animal/Animal.java
  src/main/java/seedu/operatingsystem/BootUp.java
  src/main/java/seedu/wildwatch/WildWatch.java
  text-ui-test/EXPECTED.TXT
Labels: priority.Medium

#12 Update project structure
  src/main/java/seedu/duke/animal/Animal.java
  src/main/java/seedu/operatingsystem/BootUp.java
  src/main/java/seedu/wildwatch/WildWatch.java
  src/main/java/seedu/wildwatch/entry/Entry.java
  src/main/java/seedu/wildwatch/operatingsystem/BootUp.java
  text-ui-test/EXPECTED.TXT
Labels: priority.Medium

#13 Create Entry class
  .github/workflows/gradle.yml
  src/main/java/seedu/wildwatch/entry/Entry.java
Labels: priority.High

#14 Update WildWatchTest.java
  src/test/java/seedu/wildwatch/WildWatchTest.java
Labels: priority.High, type.Test

#15 Create EntryList class
  src/main/java/seedu/wildwatch/operation/EntryList.java
Labels: priority.High, type.Operation

#18 Update Main.java to show welcome logo
  src/main/java/seedu/wildwatch/WildWatch.java
  src/main/java/seedu/wildwatch/operatingsystem/BootUp.java
  text-ui-test/EXPECTED.TXT
  text-ui-test/runtest.bat
Labels: priority.Medium, type:OperatingSystem

#24 Create DateHandler.java
  src/main/java/seedu/wildwatch/exception/EmptyAddException.java
  src/main/java/seedu/wildwatch/operation/DateHandler.java
  src/main/java/seedu/wildwatch/operation/ErrorHandler.java
  src/main/java/seedu/wildwatch/operation/Ui.java
  src/test/java/seedu/wildwatch/WildWatchTest.java
  src/test/java/seedu/wildwatch/operation/UiTest.java
Labels: priority.High, type.Test

#26 Update JUnit Testing
  src/main/java/seedu/wildwatch/operation/DateHandler.java
  src/main/java/seedu/wildwatch/operation/ShutDown.java
  src/test/java/seedu/wildwatch/WildWatchTest.java
  src/test/java/seedu/wildwatch/operation/DateHandlerTest.java
  src/test/java/seedu/wildwatch/operation/ParserTest.java
  src/test/java/seedu/wildwatch/operation/UiTest.java
Labels: priority.Medium, type.Test

#30 Delete command
  src/main/java/seedu/wildwatch/command/DeleteCommand.java
  src/main/java/seedu/wildwatch/entry/EntryList.java
  src/main/java/seedu/wildwatch/operation/Ui.java
Labels: priority.High, type.Command

#29 Update docs/team
  src/main/java/seedu/wildwatch/command/AddCommand.java
  src/main/java/seedu/wildwatch/command/DeleteCommand.java
  src/main/java/seedu/wildwatch/command/HelpCommand.java
  src/main/java/seedu/wildwatch/command/ListCommand.java
  src/main/java/seedu/wildwatch/entry/Entry.java
  src/main/java/seedu/wildwatch/entry/EntryList.java
  src/main/java/seedu/wildwatch/exception/EntryNotFoundException.java
  src/main/java/seedu/wildwatch/operation/ErrorHandler.java
  src/main/java/seedu/wildwatch/operation/Parser.java
  src/main/java/seedu/wildwatch/operation/Ui.java
Labels: priority.Medium, type.Docs

#32 Add add command
  src/main/java/seedu/wildwatch/command/AddCommand.java
  src/main/java/seedu/wildwatch/exception/IncorrectInputException.java
  src/main/java/seedu/wildwatch/operation/ErrorHandler.java
  src/main/java/seedu/wildwatch/operation/Parser.java
  src/main/java/seedu/wildwatch/operation/Ui.java
Labels: type.Story, priority.High, type.Command

#35 Create LogHandler.java
  .gitignore
  src/main/java/seedu/wildwatch/WildWatch.java
  src/main/java/seedu/wildwatch/command/AddCommand.java
  src/main/java/seedu/wildwatch/operation/ErrorHandler.java
  src/main/java/seedu/wildwatch/operation/LogHandler.java
  src/main/java/seedu/wildwatch/operation/Parser.java
  text-ui-test/input.txt
Labels: priority.Medium, type.Assertion&Logging

#38 Update HelpCommand
  .gitignore
  src/main/java/seedu/wildwatch/command/HelpCommand.java
  src/main/java/seedu/wildwatch/operation/Ui.java
Labels: priority.Medium, type.Command

#42 Update .gitignore
  .gitignore
Labels: priority.Low

#43 Create FileHandler class
  .gitignore
  src/main/java/seedu/wildwatch/WildWatch.java
  src/main/java/seedu/wildwatch/command/AddCommand.java
  src/main/java/seedu/wildwatch/command/ByeCommand.java
  src/main/java/seedu/wildwatch/command/DeleteCommand.java
  src/main/java/seedu/wildwatch/command/HelpCommand.java
  src/main/java/seedu/wildwatch/command/ListCommand.java
  src/main/java/seedu/wildwatch/entry/EntryList.java
  src/main/java/seedu/wildwatch/operation/BootUp.java
  src/main/java/seedu/wildwatch/operation/EntryHandler.java
  src/main/java/seedu/wildwatch/operation/ErrorHandler.java
  src/main/java/seedu/wildwatch/operation/FileHandler.java
  src/main/java/seedu/wildwatch/operation/Ui.java
  src/test/java/seedu/wildwatch/operation/entryHandlerTest.java
Labels: type.Story, priority.High, type.Operation

#47 Update FindCommand.java, erased print used for debugging
  src/main/java/seedu/wildwatch/command/FindCommand.java
Labels: type.Story, priority.High, type.Command

#96 Create ByeCommandTest.java
  .gitignore
  src/main/java/seedu/wildwatch/command/ByeCommand.java
  src/main/java/seedu/wildwatch/command/SummaryCommand.java
  src/main/java/seedu/wildwatch/operation/InputHandler.java
  src/main/java/seedu/wildwatch/operation/LogHandler.java
  src/main/java/seedu/wildwatch/operation/ShutDown.java
  src/main/java/seedu/wildwatch/operation/Ui.java
Labels: priority.Medium, type.Test

#104 Merge upstream with local master
  src/main/java/seedu/wildwatch/command/Command.java
  src/main/java/seedu/wildwatch/command/EditCommand.java
  src/main/java/seedu/wildwatch/command/FindCommand.java
  src/main/java/seedu/wildwatch/command/ListCommand.java
  src/main/java/seedu/wildwatch/command/SummaryCommand.java
  src/main/java/seedu/wildwatch/entry/EntryList.java
  src/main/java/seedu/wildwatch/exception/EmptyInputException.java
  src/main/java/seedu/wildwatch/exception/IncorrectInputException.java
  src/main/java/seedu/wildwatch/exception/InvalidInputException.java
  src/main/java/seedu/wildwatch/operation/BootUp.java
  src/main/java/seedu/wildwatch/operation/CommandHandler.java
  src/main/java/seedu/wildwatch/operation/DateHandler.java
  src/main/java/seedu/wildwatch/operation/EntryHandler.java
  src/main/java/seedu/wildwatch/operation/ErrorHandler.java
  src/main/java/seedu/wildwatch/operation/FileHandler.java
  src/main/java/seedu/wildwatch/operation/InputHandler.java
  src/main/java/seedu/wildwatch/operation/ShutDown.java
  src/main/java/seedu/wildwatch/operation/Ui.java
  src/main/java/seedu/wildwatch/operation/error/ErrorHandler.java
  src/main/java/seedu/wildwatch/operation/error/InvalidInputErrorType.java
  src/main/java/seedu/wildwatch/parser/AddCommandParser.java
  src/main/java/seedu/wildwatch/parser/DeleteCommandParser.java
  src/main/java/seedu/wildwatch/parser/FileStringParser.java
  src/main/java/seedu/wildwatch/parser/Parser.java
  src/test/java/seedu/wildwatch/parser/AddCommandParserTest.java
Labels: priority.High, type.Operation

#106 Separate out FileHandler, more OOP!
  src/main/java/seedu/wildwatch/WildWatch.java
  src/main/java/seedu/wildwatch/entry/EntryList.java
  src/main/java/seedu/wildwatch/operation/CommandHandler.java
  src/main/java/seedu/wildwatch/operation/DateHandler.java
  src/main/java/seedu/wildwatch/operation/InputHandler.java
  src/main/java/seedu/wildwatch/operation/Ui.java
  src/main/java/seedu/wildwatch/operation/storage/ExistenceChecker.java
  src/main/java/seedu/wildwatch/operation/storage/FileHandler.java
  src/main/java/seedu/wildwatch/operation/storage/FileLoader.java
  src/main/java/seedu/wildwatch/parser/FileStringParser.java
  src/test/java/seedu/wildwatch/operation/EntryHandlerTest.java
Labels: priority.High, type.Enhancement
